.topbar-main {
  background: #f3e1c6;
  color: #000;
  padding: 5px 0px;
}
ul.list-inline-block li {
  display: inline-block;
  margin-right: 15px;
}
.custom-container {
  max-width: 1550px !important;
  margin: 0 auto;
  padding: 0 15px;
}
ul.list-inline-block li a {
  color: #000;
  font-weight: 600;
  text-decoration: none;
}
ul.list-inline-block {
  margin-bottom: 0;
  padding-left: 0;
}
.bj_header {
  background-color: #fefbf4 !important;
  border-bottom: 1px solid #fefbf4;
}
img.logo_img {
  width: 350px;
}
ul.list-inline-block.pull-right {
  float: right;
}
.bj_header .top_menu {
  color: #000 !important;
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
}
.bj_header form.d-flex input.me-2.form-control {
  display: -webkit-flex;
  position: relative;
  border: 1px solid #b28b34;
  background: #fff;
}
.search-form {
  position: relative;
}
.bj_header form.d-flex button.btn.btn-outline-light {
  position: absolute;
  right: 2px;
  background-color: transparent;
  border: none;
  top: 0;
}
.bj_header form.d-flex button.btn.btn-outline-light img {
  width: 25px;
  padding: 0px 2px;
}
.side_ul li {
  list-style-type: none;
  display: inline-block;
  vertical-align: middle;
}
ul.side_ul li {
  margin-right: 20px;
}
.search-form:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  box-shadow: none;
}